/* ==========================================================================
   #URL SHORTENER STYLES
   ========================================================================== */


/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */


/* Custom Properties
   ========================================================================== */

:root {
    --white: #ffffff;
    --brown: #D49667;
}


/* Body
   ========================================================================== */

body {
    user-select: none;
    background-color: #272727;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
}


/* Top Section
   ========================================================================== */

.form-section,
.result-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section {
    height: 50vh;
}

.page-title {
    color: white;
    margin-bottom: 30px;
    font-size: 2rem;
}

.submit-button {
    display: block;
}

.url-form {
    width: 100%;
    align-items: center;
    max-width: 600px;
}

*:focus,
*:hover {
    outline: none !important;
}

.url-input {
    user-select: none;
    background-color: #ffffff;
    color: #982c1a;
    width: 80%;
    text-align: center;
    border: 2px solid #942916;
    box-shadow: 0 3px 12px rgba(255, 186, 186, 0.5);
    padding: 5px 20px;
    font-size: 20px;
    height: 45px;
    border-radius: 50px;
    margin-bottom: 40px;
    transition: width 1s;
}

.submit-button:hover {
    user-select: none;
    outline: 0;
    box-shadow: 0 0px 0px rgba(255, 186, 186, 0.5);
}

.submit-button {
    user-select: none;
    transition-duration: 0.5s;
    width: 115px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #982c1a;
    background-color: #982c1a;
    color: #ffffff;
    box-shadow: 0 2px 1px rgba(255, 186, 186, 0.5);
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.result {
    margin-top: 50px;
    max-width: 600px;
    width: 80%;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #1abf00a3;
    border: 5px solid #00a51045;
    border-radius: 50px;
    text-align: center;
}

.short-url {
    color: white;
    font-size: 90%;
    font-weight: bold;
    text-decoration: underline;
}

.short-url:hover {
    border-bottom: 2px solid white;
}